@import "variables";

.sidebar {
  width: 80px;
  height: 100%;
  background-color: $sidebar-bg;
  border-right: 2px solid $primary-color;
  transition: width 0.3s;

  &:hover {
    width: 250px;

    .sidebar-content{
      .sidebar-item {
        justify-content: start;
      }
    }

    .sidebar-label {
      display: flex !important;
      overflow: visible; /* Para garantir que o texto completo seja exibido quando o sidebar está expandido */
      white-space: nowrap; /* Para evitar quebra de linha */
      text-overflow: clip; /* Remove a sobreposição de reticências no texto enquanto expandindo */
    }
  }

  .sidebar-content {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    align-items: center;
    padding: 1rem;

    .sidebar-item {
      width: 100%;
      padding: 15px 10px;
      text-align: center;
      justify-content: center;
      text-decoration: none;
      color: $primary-color;
      display: flex;
      border-radius: 8px;
      align-items: center;
      gap: 1rem;
      transition: background-color 0.3s;
      cursor: pointer;

      &.active {
        background-color: $primary-color-item;
        color: $secondary-color-item;
        box-shadow: 0 0 10px 0 rgba(223, 198, 255, 0.37);
      }

      &:hover {
        background-color: $primary-color-item;
        color: $secondary-color-item;
        box-shadow: 0 0 10px 0 rgba(223, 198, 255, 0.37);
      }

      i {
        font-size: 20px;
      }

      .sidebar-label {
        display: none;
      }
    }

  }
}
