$primary-color: #5500c3;
$secondary-color: #27015e;

$primary-color-item: #c8a7f4;
$secondary-color-item: #642cb5;

$text-color: #555555;
$gray-bg: #EEEEEE;
$gray-secondary-bg: #F1F3F6;
$sidebar-bg: #5500c3;

$table-tr-nth-child: #f6f0ff

