$primary-color: #22944D;
$secondary-color: #0f4f2a;

$primary-color-item: #dff3e7;
$secondary-color-item: #176337;

$header-tender-card-color: #edf8f1;

$text-color: #555555;
$gray-bg: #f1f1f1;
$gray-secondary-bg: #F1F3F6;
$sidebar-bg: #f4fbf7;

$table-tr-nth-child: #f4fbf7
