<main class="main-section">
  <section class="filter-section">
    <form class="filter-container" [formGroup]="tenderForm" (ngSubmit)="onSubmit()">
      <div class="filter-buttons-header">
        <p (click)="clearFilters()"><i class="fa-solid fa-broom"></i> Limpar</p>
        <p (click)="reloadFilters()"><i class="fa-solid fa-arrows-rotate"></i> Recarregar</p>
      </div>
      <div class="filter-form-inputs">
        <!--Buscar por objeto-->
        <app-primary-input
          [value]="this.tenderForm.get('object')?.value"
          formControlName="object"
          placeholder="Pesquise por Objeto"
          label="Objeto"
        >
          <i class="fa-solid fa-inbox"></i>
        </app-primary-input>

        <!--
           <label class="custom-checkbox">
             <input type="checkbox"/>
             <span class="checkbox-mark"></span>
             Busca Exata
           </label>
           -->

        <!--Buscar por Estado-->
        <app-primary-input
          formControlName="uf"
          [type]="'select'"
          [placeholder]="'Selecione os Estados'"
          [inputName]="'state'"
          [label]="'Estado'"
          [returnArrayType]="'sigla'"
          [options]="statesOptions"
          (selectionChange)="onStatesChange($event)"
        >
          <i class="fa-solid fa-chevron-down"></i>
        </app-primary-input>
        <!--<div class="filter-buttons-state">
          <p (click)="selectAllStates()">Filtrar por Região</p>
          <p (click)="selectAllStates()">Todos os Estados</p>
        </div>-->

        <!--Buscar por Cidade-->
        <app-primary-input
          formControlName="city"
          [type]="'multiselect'"
          [placeholder]="'Selecione as Cidades'"
          [inputName]="'city'"
          [label]="'Cidades'"
          [options]="citiesOptions"
        >
          <i class="fa-solid fa-chevron-down"></i>
        </app-primary-input>

        <mat-divider></mat-divider>

        <!--Buscar por n° edital-->
        <!--<app-primary-input
          placeholder="Pesquise por Nº Edital"
          label="Nº Edital"
        >
          <i class="fa-solid fa-inbox"></i>
        </app-primary-input>-->

        <!--Buscar por n° modalidades-->
        <app-primary-input
          formControlName="modality_ids"
          [type]="'multiselect'"
          [placeholder]="'Selecione as Modalidades'"
          [inputName]="'modalities'"
          [label]="'Modalidades'"
          [returnArrayType]="'value'"
          [options]="[            
            { value: '5', label: 'Pregão eletrônico'}, 
            { value: '6', label: 'Dispensas e dispensas eletrônicas' },
            { value: '1', label: 'Convite' },
            { value: '2', label: 'Concorrência' },
            { value: '3', label: 'Leilão' },
            { value: '4', label: 'Tomada de preços' },
            { value: '8', label: 'Pregão presencial' },
            { value: '1', label: 'Chamada/Chamamento público' },
            { value: '9,10,11,12', label: 'Outros' },
          ]"
        >
          <i class="fa-solid fa-chevron-down"></i>
        </app-primary-input>

        <mat-divider></mat-divider>

        <!-- <app-primary-input
          [value]="this.tenderForm.get('publication_date_start')?.value"
          label="Data Inclusão"
          type="date"
          formControlName="publication_date_start"
        >
          <i class="fa-solid fa-calendar"></i>
        </app-primary-input> -->

        <!--        <app-primary-input
                  [value]="this.tenderForm.get('update_date_start')?.value"
                  label="Data de última atualização:"
                  type="date"
                  formControlName="update_date_start"
                >
                  <i class="fa-solid fa-calendar"></i>
                </app-primary-input>-->

        <app-primary-input
          [value]="this.tenderForm.get('update_date_start')?.value"
          label="Data Prazo (A partir)"
          type="date"
          formControlName="update_date_start"
        >
          <i class="fa-solid fa-calendar"></i>
        </app-primary-input>

        <mat-divider></mat-divider>


        <app-primary-input
          [value]="this.tenderForm.get('update_date_end')?.value"
          label="Data Prazo (Até)"
          type="date"
          formControlName="update_date_end"
        >
          <i class="fa-solid fa-calendar"></i>
        </app-primary-input>

        <mat-divider></mat-divider>

        <!--Licitações
        <label class="custom-checkbox">
          <input type="checkbox"/>
          <span class="checkbox-mark"></span>
          Vigentes
        </label>
        <label class="custom-checkbox">
          <input type="checkbox"/>
          <span class="checkbox-mark"></span>
          Com Edital
        </label>
        <label class="custom-checkbox">
          <input type="checkbox"/>
          <span class="checkbox-mark"></span>
          Com Monitoramento de Chat
        </label>
        <mat-divider></mat-divider>-->
        <app-primary-input
          [value]="this.tenderForm.get('organ_cnpj')?.value"
          formControlName="organ_cnpj"
          placeholder="Pesquise por CNPJ do Órgão"
          label="CNPJ do Órgão"
        >
          <i class="fa-solid fa-inbox"></i>
        </app-primary-input>

        <app-primary-input
          [value]="this.tenderForm.get('organ_name')?.value"
          formControlName="organ_name"
          placeholder="Pesquise por nome do Órgão"
          label="Nome do Órgão"
        >
          <i class="fa-solid fa-inbox"></i>
        </app-primary-input>

        <!--   <app-primary-input
             [type]="'multiselect'"
             [placeholder]="'Selecione as Esferas'"
             [inputName]="'ball'"
             [label]="'Esfera'"
             [options]="[
               { value: '1', label: 'Opção 1' },
               { value: '2', label: 'Opção 2' },
               { value: '3', label: 'Opção 3' }
             ]"
           >
             <i class="fa-solid fa-chevron-down"></i>
           </app-primary-input>-->


        <app-primary-input
          [value]="this.tenderForm.get('process')?.value"
          formControlName="process"
          placeholder="Pesquise por Nº Processo"
          label="Nº Processo"
        >
          <i class="fa-solid fa-inbox"></i>
        </app-primary-input>


        <mat-divider></mat-divider>


        <!--<app-primary-input
          [type]="'multiselect'"
          [placeholder]="'Selecione a Situação'"
          [inputName]="'situation'"
          [label]="'Situação'"
          [options]="[
            { value: '1', label: 'Opção 1' },
            { value: '2', label: 'Opção 2' },
            { value: '3', label: 'Opção 3' }
          ]"
        >
          <i class="fa-solid fa-chevron-down"></i>
        </app-primary-input>
        <mat-divider></mat-divider>
        -->


        <app-primary-input
          [value]="this.tenderForm.get('observations')?.value"
          formControlName="observations"
          placeholder="Pesquise por Observação"
          label="Observação"
        >
          <i class="fa-solid fa-inbox"></i>
        </app-primary-input>

        <!--  <mat-divider></mat-divider>
          Concorrência
          <label class="custom-checkbox">
            <input type="checkbox"/>
            <span class="checkbox-mark"></span>
            Nacionais
          </label>
          <label class="custom-checkbox">
            <input type="checkbox"/>
            <span class="checkbox-mark"></span>
            Internacionais
          </label>
          <mat-divider></mat-divider>
          Atividades
          <label class="custom-checkbox">
            <input type="checkbox"/>
            <span class="checkbox-mark"></span>
            Magnético, pvc, crachá e outros
          </label>
          <label class="custom-checkbox">
            <input type="checkbox"/>
            <span class="checkbox-mark"></span>
            Materiais de escritório, expediente, papéis, formulários
          </label>-->
      </div>
      <div class="filter-bnt-header">
        <button class="btn-primary">Pesquisar</button>
      </div>
    </form>
  </section>
  <section class="cards-section">
    <div class="cards-section-body">
      <div class="cards-container">
        <div *ngFor="let tender of tenders; let i = index">
          <app-tender-card style="width: 100%" (loading)="isLoading" [isLoading]="isLoading" [data]="tender"></app-tender-card>
        </div>
        <p *ngIf="isLoading">Carregando...</p>
      </div>
    </div>
    <div style="padding: 0 1rem;">
      <mat-paginator [length]="pageControl.itemCount" [pageIndex]="pageControl.page" [pageSizeOptions]="[10, 25, 50, 100]"
                     [pageSize]="pageControl.take" (page)="pageEvent($event)"></mat-paginator>
    </div>
  </section>
</main>
