<button class="tour" (click)="startTour('tenders', true)">Tour</button>

<main class="main-section">
  <section class="filter-section">
    <form class="filter-container" [formGroup]="tenderForm" (ngSubmit)="onSubmit()">
      <div class="filter-buttons-header">
        <p (click)="clearFilters()"><i class="fa-solid fa-broom"></i> Limpar</p>
        <p id="favorito" (click)="getFilter()"><i class="fa-solid fa-pen"></i> Carregar Filtro</p>
        <p id="favoritar" (click)="saveFilter()"><i class="fa-solid fa-star"></i> Gravar Filtro</p>
        <p (click)="reloadFilters()"><i class="fa-solid fa-arrows-rotate"></i> Recarregar</p>
      </div>
      <div class="filter-form-inputs">
        <!--Buscar por objeto-->
        <app-primary-input
          [value]="this.tenderForm.get('object')?.value"
          formControlName="object"
          placeholder="Pesquise por Objeto"
          label="Objeto"
        >
          <i class="fa-solid fa-inbox"></i>
        </app-primary-input>

        <!--
           <label class="custom-checkbox">
             <input type="checkbox"/>
             <span class="checkbox-mark"></span>
             Busca Exata
           </label>
           -->

        <!--Buscar por Estado-->
        <app-primary-input
          [value]="this.tenderForm.get('uf')?.value"
          [fill]="fill"
          formControlName="uf"
          [type]="'select'"
          [placeholder]="'Selecione os Estados'"
          [inputName]="'state'"
          [label]="'Estado'"
          [returnArrayType]="'sigla'"
          [options]="statesOptions"
          (selectionChange)="onStatesChange($event)"
        >
          <i class="fa-solid fa-chevron-down"></i>
        </app-primary-input>

        
        <!--<div class="filter-buttons-state">
          <p (click)="selectAllStates()">Filtrar por Região</p>
          <p (click)="selectAllStates()">Todos os Estados</p>
        </div>-->

        <!--Buscar por Cidade-->
        <app-primary-input
          [fill]="fill"
          [value]="this.tenderForm.get('city')?.value"
          formControlName="city"
          [type]="'multiselect'"
          [placeholder]="'Selecione as Cidades'"
          [inputName]="'city'"
          [label]="'Cidades'"
          [options]="citiesOptions"
        >
          <i class="fa-solid fa-chevron-down"></i>
        </app-primary-input>

        <mat-divider></mat-divider>

        <!--Buscar por n° edital-->
        <!--<app-primary-input
          placeholder="Pesquise por Nº Edital"
          label="Nº Edital"
        >
          <i class="fa-solid fa-inbox"></i>
        </app-primary-input>-->

        <!--Buscar por n° modalidades-->
        <app-primary-input
          [value]="this.tenderForm.get('modality_ids')?.value"
          formControlName="modality_ids"
          [fill]="fill"
          [type]="'multiselect'"
          [placeholder]="'Selecione as Modalidades'"
          [inputName]="'modalities'"
          [label]="'Modalidades'"
          [returnArrayType]="'value'"
          [options]="[
            { value: '5', label: 'Pregão eletrônico'},
            { value: '6', label: 'Dispensas e dispensas eletrônicas' },
            { value: '1', label: 'Convite' },
            { value: '2', label: 'Concorrência' },
            { value: '3', label: 'Leilão' },
            { value: '4', label: 'Tomada de preços' },
            { value: '8', label: 'Pregão presencial' },
            { value: '1', label: 'Chamada/Chamamento público' },
            { value: '9,10,11,12', label: 'Outros' },
          ]"
        >
          <i class="fa-solid fa-chevron-down"></i>
        </app-primary-input>


        <app-primary-input
          [value]="this.tenderForm.get('iminence')?.value"
          [fill]="fill"
          formControlName="iminence"
          [type]="'select'"
          [placeholder]="'Buscar iminência de deserto?'"
          [inputName]="'state'"
          [label]="'Iminência de deserto'"
          [returnArrayType]="'sigla'"
          [options]="iminenceOptions"
        (selectionChange)="onIminanceChange($event)"

        >
          <i class="fa-solid fa-chevron-down"></i>
        </app-primary-input>

        <mat-divider></mat-divider>

        <!-- <app-primary-input
          [value]="this.tenderForm.get('publication_date_start')?.value"
          label="Data Inclusão"
          type="date"
          formControlName="publication_date_start"
        >
          <i class="fa-solid fa-calendar"></i>
        </app-primary-input> -->

        <!--        <app-primary-input
                  [value]="this.tenderForm.get('update_date_start')?.value"
                  label="Data de última atualização:"
                  type="date"
                  formControlName="update_date_start"
                >
                  <i class="fa-solid fa-calendar"></i>
                </app-primary-input>-->

        <app-primary-input
          [value]="this.tenderForm.get('update_date_start')?.value"
          label="Data Prazo (A partir)"
          type="date"
          formControlName="update_date_start"
        >
          <i class="fa-solid fa-calendar"></i>
        </app-primary-input>

        <mat-divider></mat-divider>


        <app-primary-input
          [value]="this.tenderForm.get('update_date_end')?.value"
          label="Data Prazo (Até)"
          type="date"
          formControlName="update_date_end"
        >
          <i class="fa-solid fa-calendar"></i>
        </app-primary-input>

        <mat-divider></mat-divider>

        <!--Licitações
        <label class="custom-checkbox">
          <input type="checkbox"/>
          <span class="checkbox-mark"></span>
          Vigentes
        </label>
        <label class="custom-checkbox">
          <input type="checkbox"/>
          <span class="checkbox-mark"></span>
          Com Edital
        </label>
        <label class="custom-checkbox">
          <input type="checkbox"/>
          <span class="checkbox-mark"></span>
          Com Monitoramento de Chat
        </label>
        <mat-divider></mat-divider>-->
        <app-primary-input
          [value]="this.tenderForm.get('organ_cnpj')?.value"
          formControlName="organ_cnpj"
          placeholder="Pesquise por CNPJ do Órgão"
          label="CNPJ do Órgão"
        >
          <i class="fa-solid fa-inbox"></i>
        </app-primary-input>

        <app-primary-input
          [value]="this.tenderForm.get('organ_name')?.value"
          formControlName="organ_name"
          placeholder="Pesquise por nome do Órgão"
          label="Nome do Órgão"
        >
          <i class="fa-solid fa-inbox"></i>
        </app-primary-input>

        <!--   <app-primary-input
             [type]="'multiselect'"
             [placeholder]="'Selecione as Esferas'"
             [inputName]="'ball'"
             [label]="'Esfera'"
             [options]="[
               { value: '1', label: 'Opção 1' },
               { value: '2', label: 'Opção 2' },
               { value: '3', label: 'Opção 3' }
             ]"
           >
             <i class="fa-solid fa-chevron-down"></i>
           </app-primary-input>-->


        <app-primary-input
          [value]="this.tenderForm.get('process')?.value"
          formControlName="process"
          placeholder="Pesquise por Nº do edital"
          label="Nº Edital"
        >
          <i class="fa-solid fa-inbox"></i>
        </app-primary-input>


        <mat-divider></mat-divider>


        <!--<app-primary-input
          [type]="'multiselect'"
          [placeholder]="'Selecione a Situação'"
          [inputName]="'situation'"
          [label]="'Situação'"
          [options]="[
            { value: '1', label: 'Opção 1' },
            { value: '2', label: 'Opção 2' },
            { value: '3', label: 'Opção 3' }
          ]"
        >
          <i class="fa-solid fa-chevron-down"></i>
        </app-primary-input>
        <mat-divider></mat-divider>
        -->


        <app-primary-input
          [value]="this.tenderForm.get('observations')?.value"
          formControlName="observations"
          placeholder="Pesquise por Observação"
          label="Observação"
        >
          <i class="fa-solid fa-inbox"></i>
        </app-primary-input>

        <!--  <mat-divider></mat-divider>
          Concorrência
          <label class="custom-checkbox">
            <input type="checkbox"/>
            <span class="checkbox-mark"></span>
            Nacionais
          </label>
          <label class="custom-checkbox">
            <input type="checkbox"/>
            <span class="checkbox-mark"></span>
            Internacionais
          </label>
          <mat-divider></mat-divider>
          Atividades
          <label class="custom-checkbox">
            <input type="checkbox"/>
            <span class="checkbox-mark"></span>
            Magnético, pvc, crachá e outros
          </label>
          <label class="custom-checkbox">
            <input type="checkbox"/>
            <span class="checkbox-mark"></span>
            Materiais de escritório, expediente, papéis, formulários
          </label>-->
      </div>
      <div class="filter-bnt-header">
        <button class="btn-primary">Pesquisar</button>
      </div>
    </form>
  </section>
  <section class="cards-section">
    <div class="cards-section-body">      
      <div class="loading" *ngIf="isLoading">
        <i class="fa-solid fa-spinner fa-spin"></i>
      </div>
      <div class="cards-container" #cardsTop>
        <div *ngFor="let tender of tenders; let i = index">
          <app-tender-card
          style="width: 100%"
          (loading)="loadTenders()"
          [id]="'tender' + i"
          [isLoading]="isLoading"
          [isAdmin]="isAdmin"
          [index]="((pageControl?.page ?? 1 - 1) * (pageControl?.take ?? 10)) + i + 1"
          [data]="tender">
          </app-tender-card>
        </div>        
      </div>
    </div>
    <div style="padding: 0 1rem;">
      <mat-paginator [length]="pageControl.itemCount" [pageIndex]="pageControl.page" [pageSizeOptions]="[10, 25, 50, 100]"
                     [pageSize]="pageControl.take" (page)="pageEvent($event)"></mat-paginator>
    </div>
    <!-- Checkbox escondido -->
<input type="checkbox" id="toggle-chat" hidden>

<!-- Botão flutuante com texto personalizado -->
<label for="toggle-chat" id="chat-toggle-button">IA - Assistente</label>

<!-- Iframe do chat -->
<iframe 
  src="https://chat.localizadordeeditais.com.br/" 
  id="chat-ia"
></iframe>

<style>
  /* Botão flutuante */
  #chat-toggle-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #9d0101;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    border-radius: 24px;
    text-align: center;
    cursor: pointer;
    z-index: 10000;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    user-select: none;
    transition: background-color 0.3s ease;
    font-family: Arial, sans-serif;
  }

  #chat-toggle-button:hover {
    background-color: #005fa3;
  }

  /* Iframe oculto por padrão */
  #chat-ia {
    display: none;
    position: fixed;
    bottom: 80px;
    left: 20px;
    width: 30%;
    height: 500px;
    border: none;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
    z-index: 9999;
  }

  /* Exibir iframe quando o checkbox estiver marcado */
  #toggle-chat:checked ~ #chat-ia {
    display: block;
  }
</style>


  </section>
</main>
