@import "variables";

.card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem; // Reduzido para se adequar à nova altura
  border-radius: 8px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.37);
  overflow: hidden;
  padding-bottom: 0.5rem; // Reduzido para se adequar à nova altura
  width: 100%;
  background: white;

  .badge{
    max-width: 150px;
    padding: 4px;
  }
  .c-warning{
    background: rgb(223, 126, 0);
    
  }

  .card-header {
    background: $header-tender-card-color;
    display: flex;
    justify-content: center;    
    align-items: center;
    padding: 0.5rem;
    color: #2d007a;
    width: 100%;

    .card-header-left{
      display: flex;
      justify-content: space-between;
      width: 100%;      
    }
  }

  .card-main {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;

    .card-buttons {
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 0.5rem;

      button {
        background: $primary-color;
        color: white;
        border: 1px solid $primary-color;
        padding: 0.5rem;
        border-radius: 8px;
        cursor: pointer;
        font-size: 14px;
        box-shadow: 0 0 10px 0 rgba(223, 198, 255, 0.37);

        &:hover {
          opacity: 0.8;
        }
      }

    }

    .card-information-board {
      display: flex;
      flex-direction: column;
      border: 1px solid $primary-color;
      border-radius: 8px;

      .card-information {
        display: flex;
        flex-direction: column;
        // Reduzido para se adequar à nova altura
        padding: 0.5rem 0.5rem 1rem;
        justify-content: center;
        gap: 0.5rem;

        .card-information-container {
          display: flex;
          justify-content: space-between;
          align-items: start;

          div {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
          }
        }
      }

      .card-information-board-button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5rem;
        border-top: 1px solid $primary-color;

        p {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }


  }
}
