<div class="card">
  <div class="card-header">
    <div class="card-header-left">
      <div>
        <h2>
          <p class="card-header-title">
            Nª {{ index }}
          </p>
        </h2>
      </div>
      <div>
        <p>#{{ data?.id }}</p>
        @if (data?.favorites.length > 0) {
          <i [id]="'favorite' + id" class="fa-solid fa-star active-status-card" (click)="favorite(data)"></i>
        } @else {
          <i [id]="'favorite' + id" class="fa-regular fa-star" (click)="favorite(data)"></i>
        }
      </div>
    </div>
  </div>
  <div class="card-main">
    <!--<div class="card-buttons">
      <button>Ativar monitoramento de chat</button>
      <button>Gerenciar esta licitação</button>
    </div>-->
    <div class="card-information-board">
      <div class="card-information">
        <div class="badge c-warning" *ngIf="data?.api_origin === 'COMPRASAPI'">
          <i class="fa-solid fa-triangle-exclamation"></i>
          Iminência de deserto
        </div>
        <p><strong>Objeto: </strong>{{ data?.object }}</p>
        <div class="card-information-container">
          <div class="left">
            <p><strong>Data de abertura : </strong>{{ dayjs(data?.proposal_closing_date).format("DD/MM/YYYY HH:mm:ss") }}</p>
            <p><strong>Edital: </strong><span style="color: gray">{{ data?.process }}</span></p>
            <p><strong>Órgão: </strong>{{ data?.organ_name }}</p>
          </div>
          <div class="right">
            <p><strong>Situação: </strong>{{ data?.status }}</p>
            <p><strong>Modalidade: </strong>{{ data?.modality }}</p>
          </div>
        </div>
        <p><strong>Cidade: </strong>{{ data?.city }} - {{ data?.uf }}</p>
        <p>
          <strong>Valor Estimado: </strong>
          <span
            style="
            background: #ebce47;
            padding: 0.3rem 0.5rem;
            border-radius: 0.5rem;
            ">
            {{ data?.value ?? '0' | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}

          </span>
        </p>
        @if (viewedPlus) {
          <div>
            <p><strong>Obs: </strong>{{ data?.description }}</p>
            <div class="card-information-container">
              <div class="left">
                <p><strong>Processo: </strong><span style="color: gray">{{ data?.process }}</span></p>
              </div>
              <div class="right">
                <!--<p *ngIf="data?.origin_url"><strong>Site: </strong>
                  <a [href]="formatUrl(data?.origin_url)" target="_blank"
                     rel="noopener noreferrer">
                    {{ truncate(data?.origin_url, 40) }}
                  </a>
                  <span *ngIf="!data?.origin_url">-</span>
                </p>-->
              </div>
            </div>
          </div>
        }
      </div>
      <div class="card-information-board-button">
        <p (click)="viewMore()">
          @if (!viewedPlus) {
            <span>Ver mais informações da licitação</span>
          } @else {
            <span>Ver menos informações da licitação</span>
          }
        </p>
      </div>
    </div>
    <div class="card-buttons" id="{{ id }}">
      <button (click)="getEdital(data?.id)">Baixar Edital</button>
      <button *ngIf="data?.items?.length" style="background-color: rgb(0, 132, 255);" (click)="onViewItems()">Ver Itens</button>
      <button *ngIf="data?.origin_url" style="background-color: rgb(48, 148, 39);  border: none;">
        <strong>
          <a (click)="openUrlOrigin(formatUrl(data?.origin_url))" target="_blank"
             rel="noopener noreferrer"
             style="text-decoration: none; display: flex; justify-content: center; align-items: center; gap: 0.5rem; color: white;"
          >
            <span>Site Oficial</span>
            <i class="fa-solid fa-arrow-up-right-from-square"></i>
          </a>
        </strong>
      </button>
      <button
        style="background-color: rgb(240, 28, 28);  border: none;"
        *ngIf="isAdmin"
        (click)="deleteTender(data?.id)"
        >
          Deletar
          <i class="fa-solid fa-trash"></i>
      </button>
    </div>
    <div *ngIf="viewItems" style="max-height: 200px; overflow-y: auto;">
      <ul>
        <li *ngFor="let item of data?.items; let index = index" style="list-style: circle; margin-bottom: 10px; margin-left: 10px;">
          {{ index+1 }} - {{ item.description }}
          <hr>
        </li>
      </ul>
    </div>

    <app-primary-input
       label="Anotações"
       inputName="text"
       type="text"
       [formControl]="noteText"
       placeholder="Digite sua mensagem..."
     >
       <mat-icon (click)="note(data?.id)" style="cursor: pointer;">send</mat-icon>
     </app-primary-input>

    <div>
      <div *ngFor="let note of data?.notes">
        <div style="margin-bottom: 10px; margin-left: 10px;">
          <i (click)="deletenote(note?.id)" class="fa-regular fa-trash-can" style="color: red; cursor: pointer; margin-right: 10px;"></i>
          {{ note.note }}
        </div>
      </div>
    </div>
    
  </div>
</div>
