<main>
  <section class="form-section">
    <img src="assets/images/logo.png" alt="logo">
    <h2>{{ titlePrimary }}</h2>
    <ng-content></ng-content>
    <div class="btn-wrapper">
      <button class="btn-primary" [disabled]="disablePrimaryBtn" (click)="submit()">{{ primaryBtnText }}</button>
      @if (is_secondaryBtn){
        <div class="divider">
          <div></div>
          <span>or</span>
          <div></div>
        </div>
        <button class="btn-secondary" [disabled]="disableSecondaryBtn" (click)="navigate()">{{ secondaryBtnText }}</button>
      }
    </div>
  </section>
  <section class="main-section">
    <h1>{{ text_main }}</h1>
    <ng-lottie
      width="500px"
      containerClass="moving-box"
      [options]="options"
    />
  </section>
</main>
