@import "variables";

@media only screen and (max-width: 800px) {
  .dropdown-btn {
    span {
      //display: none;
    }
  }

  .dropdown-content{

  }
}

header {
  position: relative;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  z-index: 999;
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);

  button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    border: none;
    border-radius: 8px;
    padding: 14px 20px;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    background-color: $primary-color;
    color: white;
    box-shadow: 0 0 10px 0 rgba(133, 61, 227, 0.56);

    &:hover {
      background-color: $primary-color-item;
      color: $secondary-color-item;
      box-shadow: 0 0 10px 0 rgba(223, 198, 255, 0.37);
    }

  }

  .commercial-home {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    .comercial-left {
      display: flex;
      align-items: center;
      gap: 1rem;


    }

    button {
      font-weight: normal;
      background: #FF4545;
      color: #F2EFE6;
      box-shadow: 0 0 10px 0 rgba(255, 129, 129, 0.36);

      &:hover {
        opacity: 0.8;
      }

    }
  }

  .container-buttons {
    display: flex;
    align-items: center;
    gap: 1rem;

    .dropdown {
      position: relative;
      display: inline-block;

      .dropdown-btn {
        //min-width: 210px;
      }

      .dropdown-content {
        position: absolute;
        display: none;
        background-color: $primary-color;
        z-index: 1;
        margin-top: 20px;
        border-radius: 8px;
        padding: 0.5rem;
        box-shadow: 0 0 10px 0 rgba(133, 61, 227, 0.56);

        .dropdown-item {
          cursor: pointer;
          color: white;
          padding: 15px 16px;
          text-decoration: none;
          display: flex;
          align-items: center;
          gap: 1rem;
          border-radius: 8px;

          &:hover {
            background-color: $primary-color-item;
            color: $secondary-color-item;
            box-shadow: 0 0 10px 0 rgba(223, 198, 255, 0.37);
          }

        }
      }

      .show-dropdown {
        display: block;
      }
    }
  }

}
