@import "variables";

.input-wrapper {
  color: $text-color;
  font-size: 16px;
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  label {
    font-weight: bold;
  }

  .input-content {
    width: 100%;
    border-radius: 8px;
    display: flex;

    .icon {
      padding: 12px;
      width: 46px;
      background-color: $primary-color;
      border-radius: 0 8px 8px 0;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    input {
      border: none;
      border-radius: 8px 0 0 8px;
      background-color: $gray-secondary-bg;
      padding: 17px 0 17px 20px;
      width: 100%;
      outline: 1px solid transparent;
      font-size: 20px;
    }

    input[type="date"]::-webkit-inner-spin-button,
    input[type="date"]::-webkit-calendar-picker-indicator {
      display: none;
      -webkit-appearance: none;
    }

    select {
      border: none;
      border-radius: 8px 0 0 8px;
      background-color: $gray-secondary-bg;
      padding: 17px 0 17px 20px;
      width: 100%;
      outline: 1px solid transparent;
      font-size: 20px;
      -webkit-appearance: none;
      -moz-appearance: none;
      text-indent: 1px;
      text-overflow: '';
    }

    .multiselect-wrapper {
      position: relative;
      width: 100%;

      .multiselect-dropdown {
        position: absolute;
        top: 110%;
        left: 0;
        right: 0;
        background: white;
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 8px;
        z-index: 1000;
        max-height: 250px;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        label {
          width: 100%;
          display: flex;
          padding: 8px;
          cursor: pointer;
          border-radius: 8px;

          input[type="checkbox"] {
            display: none;
          }

          input[type="radio"] {
            display: none;
          }

          &:hover {
            background: #f0f0f0;
          }

          &.selected {
            background: $primary-color;
            color: white;
          }
        }
      }
    }


  }

  .message-error {
    width: 100%;
    background: #f9bdbd;
    color: #ac1a1a;
    padding: 0.5rem;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .input-content-error {
    input {
      outline: 1px solid red;
    }
  }
}

