<div class="input-wrapper">
  <label [for]="inputName">{{ label }}</label>
  <div class="input-content" [ngClass]="errorInput ? 'input-content-error' : ''">
    <input
      [type]="type"
      [placeholder]="placeholder"
      [value]="value"
      (input)="onInput($event)"
    />
    <div class="icon" [style.cursor]="cursor" (click)="click()">
      <ng-content></ng-content>
    </div>
  </div>
  @if (error) {
    <div class="message-error">
      <i class="fa-solid fa-circle-exclamation"></i>
      {{ messageError }}
    </div>
  }
</div>
