<main>

  <div class="commercial">
    <div class="commercial-details">
      <div class="tooltip">Localizador de Editais</div>
      <h2>Faça Parte da Maior Comunidade de Licitantes do Brasil</h2>
      <a href="https://arnaldotadeu.com.br/inscreva-se-para-a-mentoria-ao-vivo" target="_blank"><button>ENTRAR PARA A COMUNIDADE</button></a>
    </div>
    <img alt="" src="assets/images/im2.jpg"/>
  </div>
  <h4>
    <i class="fa-solid fa-gear"></i>
    Painel de Ferramentas

    <button class="tour" (click)="startTour('home', true)">Tour</button>
  </h4>
  <div class="content">
    <div class="content-bnt" *ngFor="let tool of tools" (click)="navigate(tool.link)">
      <h2 style="font-size:19px;">{{ tool.title }}</h2>
    </div>
  </div>
</main>
