<main>
  <section>
    <div class="container left">
      <div class="title">
        <h2>Dashboard</h2>
        <p>Visão geral das principais métricas</p>
      </div>
      <div class="mini-cards">
        <div class="container purple">
          <div class="mini-cards-icon">
            <i class="fa-solid fa-users"></i>
          </div>
          <div class="mini-cards-info">
            <div class="mini-cards-info-title">
              <h3>Total de Usuários</h3>
              <p>Assinantes ou não da plataforma</p>
            </div>
            <p class="mini-cards-info-resume">{{ totalUsers }} Usuários</p>
          </div>
        </div>
        <div class="container yellow">
          <div class="mini-cards-icon">
            <i class="fa-regular fa-face-laugh-beam"></i>
          </div>
          <div class="mini-cards-info">
            <div class="mini-cards-info-title">
              <h3>Usuários deste mês</h3>
              <p>Assinantes da plataforma deste mês</p>
            </div>
            <p class="mini-cards-info-resume">{{ totalMonthUsers }} Usuários</p>
          </div>
        </div>
        <div class="container green">
          <div class="mini-cards-icon">
            <i class="fa-solid fa-heart"></i>
          </div>
          <div class="mini-cards-info">
            <div class="mini-cards-info-title">
              <h3>Total de Usuários</h3>
              <p>Assinantes da plataforma</p>
            </div>
            <p class="mini-cards-info-resume">{{ totalActiveUsers }} Assinantes</p>
          </div>
        </div>
        <div class="container red">
          <div class="mini-cards-icon">
            <i class="fa-regular fa-circle-xmark"></i>
          </div>
          <div class="mini-cards-info">
            <div class="mini-cards-info-title">
              <h3>Usuários inativos</h3>
              <p>Assinantes inativos da plataforma</p>
            </div>
            <p class="mini-cards-info-resume">{{ totalInactiveUsers }} Usuários</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container right">
      <div class="title">
        <h2>Gráfico</h2>
        <p>Histórico de usuários cadastrados</p>
      </div>
      <div class="chart-container">
        <canvas id="userGrowthChart" style="width: 100%; height: 100%;"></canvas>
      </div>
    </div>
  </section>
  <section>
    <div class="container left">
      <div class="title">
        <h2>Licitações</h2>
        <p>Visão geral das principais métricas de licitações</p>
      </div>
      <div class="mini-cards">
        <div class="container yellow">
          <div class="mini-cards-icon">
            <i class="fa-solid fa-file-lines"></i>
          </div>
          <div class="mini-cards-info">
            <div class="mini-cards-info-title">
              <h3>Total de Licitações</h3>
              <p>Licitações da plataforma</p>
            </div>
            <p class="mini-cards-info-resume">{{ totalTenders }} Licitações</p>
          </div>
        </div>
        <div class="container green">
          <div class="mini-cards-icon">
            <i class="fa-solid fa-arrow-trend-up"></i>
          </div>
          <div class="mini-cards-info">
            <div class="mini-cards-info-title">
              <h3>Licitações deste mês</h3>
              <p>Licitações da plataforma</p>
            </div>
            <p class="mini-cards-info-resume">{{ totalMonthTenders }} Licitações </p>
          </div>
        </div>
      </div>
    </div>

  </section>
</main>
