<div class="container-users" [formGroup]="form">
  <div class="container-header">
    <h2><i class="fa-solid fa-user"></i>Documentos</h2>
    <app-primary-input
      formControlName="searchTerm"
      inputName="email"
      type="text"
      placeholder="Buscar..."
      messageError="Erro. Tente novamente."
    >
      <i class="fa-solid fa-magnifying-glass"></i>
    </app-primary-input>

    <button (click)="onAddButton()" class="btn btn-success sucess btn-lg d-flex justify-content-center aligm-items-center">
      Adicionar
      <i class="fa-solid fa-circle-plus ms-2 fs-4"></i>
    </button>
  </div>

  <app-document-table
    style="height: 100%;"
    [searchTerm]="searchTerm"
    [loading]="loading">
  </app-document-table>
</div>
